.greeting {
  background-color: aqua;
  color: blueviolet;
  padding: 20px;
}
.hello {
  background-color: black;
  color: aliceblue;
  padding: 30px;
}

.external {
  margin: 200px;
}
.modulestyle {
  margin: 200px;
}

.image {
  background-color: aqua;
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  cursor: pointer;
}

.org-image {
  /* background-color: aqua; */
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  cursor: pointer;
}
